
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.btn-default {
    margin: 5px 0px 5px 0px;
    color: blue;
    background: #fff;
    width: 49%;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid #ececec;
}
.red{
    color: red;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    width: 40%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}
.container{
    max-width: 100% !important;
}
.col-md-6{
    display: inline-block;
    background: #d2dce5;
    margin: 2px 0;
    padding: 15px;
}


.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: inline-block;;
}
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 65.666667%;
    display: inline-block;;
}
.nav-item{
    cursor: pointer;
}

.tab-content>.active {
    display: block;
}

.venture-list {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

/* ---------------------------------- */
/* Listing Item Layout Style
------------------------------------- */
.listing-item-container.list-layout {
    background: transparent;
    background-color: #f9f9f9;
    margin-bottom: 25px;
}

.listing-item-container.list-layout:hover {
    transform: translate3d(6px,0,0);
}

.listing-item-container.list-layout .listing-item {
    display: flex;
    background-color: transparent;
    height: 220px;
}

.listing-item-container.list-layout .listing-item:before {
    display: none;
}

.listing-item-container.list-layout .listing-item img {
    border-radius: 0;
}

.listing-item-container.list-layout .listing-item-content {
    flex: 5;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 50;
    box-sizing: border-box;
}

.listing-item-container.list-layout .listing-item-image {
    min-height: 200px;
    flex: 2;
    height: 100%;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
    position: relative;
}

.listing-item-container.list-layout .listing-item-image:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: block;
    background-color: #272729;
    opacity: 0.2;
}

.listing-item-container.list-layout span.like-icon {
    bottom: 50%;
    transform: translateY(50%);
    background-color: #eee;
    color: #9d9d9d;
    right: 35px;
}

.listing-item-container.list-layout span.like-icon.liked,
.listing-item-container.list-layout span.like-icon:hover {
    background-color: #f3103c;
    color: #fff;
}

.listing-item-container.list-layout .listing-item-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    padding-right: 120px;
    width: 50%;
}

.listing-item-container.list-layout .listing-item-inner h3 { color: #333; }
.listing-item-container.list-layout .listing-item-inner span { color: #808080; }

.listing-item-container.list-layout .star-rating { padding: 8px 0 0 0; }
.listing-item-container.list-layout .numerical-rating { margin: 10px 0 5px 0; display: block; }


.listing-item-container.list-layout .listing-item-details {
    position: absolute;
    bottom: 25px;
    right: 35px;
    left: auto;
    top: auto;
    padding: 0;
    width: auto;
    z-index: 50;
    color: #888;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
}


/* ---------------------------------- */
/* Listing Item
------------------------------------- */

.listing-item-container {
/*  background: linear-gradient(to top, #f4f4f4 0%, #f9f9f9 10%); */
    background-color: #f6f6f6;
    display: block;
    height: auto;
    width: 100%;
    border-radius: 4px;
    transform: translate3d(0,0,0);
    transition: transform 0.3s;
    margin-bottom: 30px;
}

section.fullwidth .listing-item-container,
.fs-content .listing-item-container {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
    background-color: #fff;
    background: #fff;
}

section.fullwidth .listing-item-container.list-layout,
.fs-content .listing-item-container.list-layout {
    box-shadow: none;
}

.listing-item-container:hover { transform: translate3d(0,-6px,0); }

.listing-item {
    background: #ccc;
    border-radius: 4px 4px 0 0;
    height: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 265px;
    z-index: 100;
    cursor: pointer;
}

.listing-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0 0;
}


.listing-item:before {
    content: "";
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to top, rgba(35,35,37,0.9) 0%, rgba(35,35,37,0.45) 35%, rgba(22,22,23,0) 60%, rgba(0,0,0,0) 100%);
    background-color: rgba(35,35,37,0.2);
    border-radius: 4px 4px 0 0;
    opacity: 1;
}

.listing-item-content {
    position: absolute;
    bottom: 28px;
    left: 0;
    padding: 0 32px;
    padding-right: 90px;
    width: 100%;
    z-index: 50;
    box-sizing: border-box;
}

.listing-item-content h3 {
    color: #fff;
    font-size: 20px;
    bottom: -1px;
    position: relative;
    font-weight: 500;
    margin: 0;
    line-height: 31px;
}

.listing-item-content span {
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    color: rgba(255,255,255,0.7);
}

.listing-item-container.list-layout span.tag,
.listing-item-content span.tag {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2.5px;
    font-weight: 60;
    background: #66676b;
    border-radius: 50px;
    padding: 4px 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 9px;
}

.listing-item-container.list-layout span.tag {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #66676b;
    margin: 0;
    z-index: 10;
    line-height: 14px;
    padding: 7px 16px;
    margin-right: 20px;
    text-align: center;
}


/* Listing item details */
.listing-item-details {
    position: absolute;
    top: 24px;
    left: 0;
    padding: 0 32px;
    width: 100%;
    z-index: 50;
    color: #fff;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
}

.listing-item-details ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.listing-item-details ul li {
    display: inline-block;
    margin-right: 6px;
    line-height: 20px;
}

.listing-item-details ul li i {
    display: inline-block;
    margin: 0 3px 0 0;
    position: relative;
    top: 0px;
    font-size: 14px;
}


/* Listing Item Alternative Version*/
.listing-item-container.compact .listing-item { border-radius: 4px; }
.listing-item-container.compact .star-rating { padding: 5px 0 0 0; }

.listing-item-container.compact .rating-counter {
    color: rgba(255,255,255,0.7);
}

.listing-item-container.compact .star-rating .star.empty:before,
.listing-item-container.compact .star-rating .star.half:before { color: rgba(255,255,255,0.3); }

.listing-item-container.compact .listing-item-content span.tag { background-color: #66676b; }

/* Number rating*/
.numerical-rating {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    width: 44px;
    display: inline-block;
    font-family: "Open Sans";
    position: relative;
    border-radius: 50px;
    letter-spacing: -0.5px;
    background-color: rgba(255,255,255,0.2);
    margin: 15px 32px;
}

.compact .numerical-rating { margin: 0 0 8px 0; }

.numerical-rating:before {  content: attr(data-rating); }

.numerical-rating.high { background-color: #64bc36; }
.numerical-rating.mid { background-color: #c0c52a; }
.numerical-rating.low { background-color: #ee3535; }

.infoBox .numerical-rating .rating-counter,
.numerical-rating .rating-counter {
    position: absolute;
    top: 0;
    left: 14px;
    width: auto;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    width: 150px;
    color: #909090;
}

.infoBox .numerical-rating .rating-counter { left: 12px; }

.infoBox .numerical-rating {
    margin: 0;
    font-family: "Open Sans";
}


/* Star Rating */
.star-rating { display: block; font-size: 17px; }

.listing-item-container .star-rating {
    padding: 15px 32px;
}

.star-rating .star {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 4px;
    position: relative;
}

.rating-counter {
    color: #909090;
    padding-left: 5px;
    display: inline-block;
    font-size: 15px;
}

.star-rating .rating-counter {
    top: -1px;
    position: relative;
}

.infoBox .star-rating .rating-counter {
    font-size: 15px;
    top: -2px;
}

.star-rating .star.half:after,
.star-rating .star:before {
    font-family: "FontAwesome";
    content: "\f005";
    display: block;
    color: #ffc600;
}

.star-rating .star.empty:before { color: #ddd; }

.rating:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.star-rating .star.half:before { color: #ddd; }
.star-rating .star.half:after {
    color: #ffc600;
    position: absolute;
    top:0;
    width: 50%;
    display: block;
    height: 100%;
    overflow: hidden;
}


/* Like Icon */
span.like-icon {
    color: #fff;
    font-size: 19px;
    position: absolute;
    z-index: 101;
    right: 30px;
    bottom: 30px;
    cursor: normal;
    background-color: rgba(24,24,24,0.4);
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: all 0.4s;
}

.like-icon:before,
.like-icon:after {
    transition: opacity 0.3s, transform 0.4s cubic-bezier(.0,-.41,.19,2.5);
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 9px;
}

.like-icon:before {
    content: "\f08a";
    transform: scale(0.95);
}

.like-icon:after {
    content: "\f004";
    opacity: 0;
    transform: scale(0.5);
}

.like-icon.liked:after {
    opacity: 1;
    transform: scale(0.95);
}

.like-icon:hover,
.like-icon.liked {
    background-color: #f3103c;
}

.like-icon.liked:before{
    opacity: 0;
}

/* Badges */
.listing-item { overflow: hidden; }

.listing-badge {
    background-color: #333;
    float: left;
    position: absolute;
    transform: rotate(45deg);
    right: -64px;
    top: 22px;
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
    z-index: 999;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
}


.listing-badge.now-open {
    background-color: #54ba1d;
}

.listing-badge.now-closed {
    background-color: #e91721;
}

div a.nav-item.nav-link.active {
    border: none;
    background: #e74c3c !important;
}

/* Responsive */

@media(min-width: 300px){
    .nav-item{
        font-size: 32px !important;
    }
    nav > div a.nav-item.nav-link.active:after {
        bottom: -80px;
        left: -25%;
    }
    .tab-content>.active {
        display: block;
        font-size: 32px;
        line-height: 40px;
        padding: 15px;
    }
    .listing-item-container.list-layout .listing-item-inner{
        width: 90%;
    }
    .listing-item-content h3 {
        font-size: 32px;
    }
    .listing-item-content span {
        font-size: 27px;
        margin-top: 5px;
    }
    .btn-default {
        font-size: 32px;
        border: 1px solid #979696;
    }
    .listing-item-container.list-layout .listing-item-details {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: auto;
        top: auto;
        padding: 0;
        width: auto;
        z-index: 50;
        color: #888;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 25px;
    }
}


@media(min-width: 767px){
    .nav-item{
        font-size: 25px !important;
    }
    nav > div a.nav-item.nav-link.active:after {
        bottom: -60px;
        left: -10%;
    }
    .tab-content>.active {
        display: block;
        font-size: 30px;
        line-height: 40px;
        padding: 15px;
    }
    .listing-item-container.list-layout .listing-item-inner{
        width: 75%;
    }
    .listing-item-content h3 {
        font-size: 27px;
    }
    .listing-item-content span {
        font-size: 20px;
        margin-top: 5px;
    }
    .btn-default {
        font-size: 25px;
        border: 1px solid #979696;
    }
    .listing-item-container.list-layout .listing-item-details {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: auto;
        top: auto;
        padding: 0;
        width: auto;
        z-index: 50;
        color: #888;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 20px;
    }
}


