<!DOCTYPE html>
                
                <html>
                <body>
                <style>
                    p{
                        text-align:justify;
                        font-size:12px;
                    }
                    
                    .about{
                        line-height: 3px;
                        font-size:6px;
                    }
                    .to{
                        line-height: 3px;
                        font-size:12px;
                    }
                    
                    .content{
                        font-size:12px;
                    }

                    .tableWithOuterBorder{
                border: 0.5px solid black;
                border-collapse: separate;
                border-spacing: 0;
            }
                    .tableWithOuterBorder td,th{
                        
                        border:1px solid gray;
                        text-align: left;
                        padding: 8px;
                        }

                    .tableWithOuterBorder td:nth-child(2) {
                        background:red;
                    }
                        
                </style>
                <table>
                    <tr>
                        <td>
                            <img  src="http://pinnaclegenerators.com/images/logo.png" alt="" width="100px" />
                        </td>
                        <td>
                            <h4 style="line-height: 0px;color: red;">PINNACLE GENERATORS</h4>
                            <p class="about">Autherized OEA of <strong><span style="color: #ff0000;">EICHER ENGINES</span></strong></p>
                            <p class="about">A unit of TAFE MOTORS AND TRACTORS LIMITED</p>
                            <p class="about">(A Wholly owned subsidary of <strong><span style="color: #ff0000;">TAFA</span></strong>)</p>
                            <p class="about">A unit of TAFE MOTORS AND TRACTORS LIMITED</p>
                            <p class="about">(A Wholly owned subsidary of <strong><span style="color: #ff0000;">TAFA</span></strong>)</p>
                            <p class="about">A unit of TAFE MOTORS AND TRACTORS LIMITED</p>
                            <p class="about">(A Wholly owned subsidary of <strong><span style="color: #ff0000;">TAFA</span></strong>)</p>
                        </td>
                    </tr>
                </table>
                
                    <p   style="width: 100%; font-size: 10px;">
                        <table>
                        <tr>
                            <td>
                                <strong>Ref No.: PG/DG/19-20/0269</strong >
                            </td>
                            <td> <strong>Date: <?=date('d.m.Y')?></strong> </td>
                        </tr>
                        </table>
                    </p>
                
                    <p class="to"><strong>To,</strong></p>
                    <p class="to"><strong><?=$lead_details['finlzatin_prsn_name']?>,</strong></p>
                    <p class="to"><strong>AREA,CITY,</strong></p>
                    <p class="to"><strong>STATE.</strong></p>
                    <p class="to"><strong>Mobile: <?=$lead_details['finlzatin_prsn_mobile']?></strong></p>
                    <p class="to"><strong>Email: <a><?=$lead_details['finlzatin_prsn_email']?></a></strong></p>
                    <p class="to"><strong>Kind Attn: <?=$lead_details['finlzatin_prsn_name']?></strong></p>
                    
                    <p class="content"><strong>Subject: Your requirement of 15 / 20 KVA, III Phase &ldquo;Eicher Engines&rdquo; powered Silent Diesel Generating Set.</strong></p>
                
                    <p class="content">Dear Sir,</p>
                    <p class="content">This has reference to your enquiry of Silent Diesel Generating Set. We are pleased to introduce ourselves as one of the largest genset manufacturer in India having manufacturing range of 5 KVA to 125 KVA Genset providing custom built power solutions.</p>
                    <p class="content"><strong>PINNACLE</strong> <span class="ff2">Diesel Generating Sets are powered by </span><strong>&lsquo;Eicher Engines&rsquo; / &lsquo;TMTL Engines&rsquo;</strong><span class="ff2"> manufactured by </span><strong>TAFE Motors and Tractors Limited</strong>, <span class="ff2">well known for their ruggedness, economics of performance &amp; high reliability. Our Diesel Engines have </span> earned the trust of millions of users as these engines can be operated for long periods without stopping the engine, require lowest maintenance cost offer best-in-class fuel economy and meet the latest emission norms.</p>
                    <p class="content">We are the authorized <strong>OEA of &lsquo;Eicher Engines&rsquo; / &lsquo;TMTL Engines&rsquo;</strong> powered PINNACLE Diesel Generating Sets.We have created an enviable position for ourselves in the Industry because of our commitment towards product quality and total customer satisfaction. Our state-of-the-art design &amp; manufacturing facilities, strong service support and customer friendly attitude have made &lsquo;PINNACLE&rsquo; DG sets the first choice for most telecom corporates such as <strong>Bharti Infratel, Indus Tower, Vodafone, Reliance, Idea, Nokia, CitiFinancial, IDMC, ICICI Prudential, ICICI bank Aditya Birla Retail</strong>, <strong>HDFC Bank, Kotak Mahindra Bank</strong>, and many others.</p>
                    <p class="content">We have also developed the capability to execute the complete project including civil works, Installation, electrical cabling &amp; earthing etc. Our team of expert engineers and installers shall guide you appropriately for installation of complete genset in the most economical way.</p>
                    <p class="content">Our manufacturing plant located at Cherlapally , Hyderabad are equipped with the latest machinery such as Amada make CNC Cutting, CNC Bending and a fully automated powder coating facility with pure Polyester powder and baking on automatic conveyorized plant resulting in good surface finish and protection against corrosion. All the products coming out of our plants conform to stringent quality control norms and are thoroughly tested for performance. Our Diesel Generating Sets are manufactured as per technical guidelines of TAFE Motors &amp; Tractors Limited.</p>
                    <p class="content">We are also pleased to inform you that all models of Diesel Generating Sets manufactured by us, are tested and certified as per latest Sound &amp; Emission norms, issued by CPCB <strong>II</strong></p>
                    <p class="content">Assuring you of our best attention at all times.</p>
                    <p class="content" style="line-height: 3px;">Thanking you,</p>
                    <p class="content" style="line-height: 3px;"><strong>Yours Sincerely,</strong></p>
                    <p class="content" style="line-height: 3px;"><strong>For Pinnacle Generators,</strong></p>
                <p>&nbsp;</p>
                
                
                <p style="line-height: 3px;"><strong>N.Laxmikanth Reddy</strong></p>
                <p style="font-size: 10px; line-height: 3px;"><strong>Zonal Manager</strong></p>
                <p style="font-size: 10px; line-height: 3px;"><strong>Mobile: 9849804246</strong></p>
                <p style="font-size: 10px; line-height: px;"><strong>Email ID: laxmikanthreddy@pinnaclegenerators.com</strong></p>
                <p>&nbsp;</p>
                <table>
                    <tr>
                        <td>
                            <img  src="http://pinnaclegenerators.com/images/logo.png" alt="" width="100px" />
                        </td>
                        <td>
                            <h4 style="line-height: 0px;color: red;">PINNACLE GENERATORS</h4>
                            <p style="line-height: 3px; font-size: 10px;">Autherized OEA of <strong><span style="color: #ff0000;">EICHER ENGINES</span></strong></p>
                            <p style="line-height: 3px; font-size: 10px;">A unit of TAFE MOTORS AND TRACTORS LIMITED</p>
                            <p style="line-height: 3px; font-size: 10px;">(A Wholly owned subsidary of <strong><span style="color: #ff0000;">TAFA</span></strong>)</p>
                        </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                
                <p>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strong>&emsp;SCOPE OF SUPPLY</strong><br>
<strong>“Eicher Engines” Powered PINNACLE Silent Diesel Generating Set shall comprise of the following:</strong></p>

<p><strong>DIESEL ENGINE:</strong><br>
<strong>‘Eicher Engines’</strong> branded (manufactured by TAFE Motors &amp; Tractors Limited) engine model 198ES,1cylinder, 4 stroke cycle, Air cooled, developing 11.7 BHP at 1500 RPM under NTP conditions of BS: 5514. The engine shall be provided with electrical starting arrangement &amp; shall give the electrical output of 7.5 KVA at 0.8 power factor. The engine is complete with:</p>

<ul>
	<li>Starter motor.</li>
	<li>Battery charging alternator.</li>
	<li>Dry type air cleaner.</li>
	<li>&nbsp;MICO fuel pump.</li>
	<li>&nbsp;A1 class governing.</li>
	<li>&nbsp;Flywheel with flywheel housing.</li>
	<li>&nbsp;Residential silencer.</li>
	<li>&nbsp;First fill of lube oil.</li>
	<li>&nbsp;Engine protections: Low lube oil pressure(LLOP) &amp; High Cylinder Head temperature(HCT).</li>
</ul>

<p><strong>ALTERNATOR:</strong><br>
Suitable make (Crompton Greaves), I phase, 50 cycles, self-regulated, self-excited, screen protected, 230 Volts, 2 Wire, alternator of rated capacity at 0.8 power factor. The alternator will conform to relevant BS/IS standard. The choice of alternator is to us unless specifically agreed upon.</p>

<p><br>
<strong>CONTROL PANEL:</strong><br>
Standard/customized, louvered, steel construction Control panel, dust &amp; vermin proof comprising of MCB/MCCB, CTs for metering, Voltmeter, Ammeter, Frequency meter, Indications, Fuses etc.</p>

<p><br>
<strong>ESSENTIAL ACCESSORIES:</strong></p>

<p>Fuel tank with drain valve, breather, inlet and outlet connections.<br>
Battery with leads.<br>
Anti vibration mountings(AVMs).<br>
Operator manuals &amp; test certificates.</p>

                <?php foreach($lead_details['products'] as $key => $product){ 
                    $gst = (18 / 100) * $product['list_price'];?>

                    <table class="tableWithOuterBorder">
        <tr>
          <th >Sl.No</th>
          <th >Description</th>
          <th >Qty.</th>
          <th >Amount (Rs.)</th>
          <th >Total (Rs.)</th>
        </tr>
        <tr>
          <td ><?=++$key?></td>
          <td >Supply of <?=$product['kva_value']?>  <?=$product['phase_value']?>  <?=$product['panel_value']?>   Generating Set comprising of “<?=$product['engine_value']?> Engines” Air cooled, model <?=$product['model_no']?>,  coupled to Crompton Greaves make rating  15 KVA / 12 KW, 415 Volt alternator mounted on a common base frame along with other</td>
          <td ></td>
          <td ></td>
          
          <td ></td>

        </tr>

        <tr>
          <td >A</td>
          <td >Basic Price</td>
          <td ></td>
          <td ></td>
          
          <td ><?=$product['quoted_price']?>/-</td>

        </tr>

        <tr>
          <td >B</td>
          <td >(CGST + SGST) @18% or IGST @18%</td>
          <td ></td>
          <td ></td>
          
          <td ><?=$gst?>/-</td>

        </tr>

        <tr>
          <td >C</td>
          <td >Transportation</td>
          <td ></td>
          <td ></td>
          
          <td ><?=$product['extrnl_trasport_charges']?>/-</td>

        </tr>
        
        <tr>
          <td >D</td>
          <td >TOTAL</td>
          <td ></td>
          <td ></td>
          
          <td ><?=$product['extrnl_trasport_charges'] + $product['quoted_price'] +$gst ?></td>

        </tr>

        
      </table>
      <p>&nbsp;</p>
                    
                <?php } ?>

                </body></html>